<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>待機中</title>
  <script>
    window.onload = function () {
      console.log("ファンクション開始");
      var sse = new EventSource('/waitSSE');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        console.log("実行結果");
        console.log(event.data);
        var match = JSON.parse(event.data);//matchの全dataを取得
        var matchid = match.matchid;
        var kekka = "<h1>" + "マッチングしました" + "</h1><br>";
        kekka = kekka + " <a href ='/play2pc?matchid=" + matchid + " '> " + "対戦を始める" + "</a>";//matchのmatchidを取得
        console.log(kekka);
        var tbody = document.getElementById("kekka");//更新場所
        tbody.innerHTML = kekka;//kekkaを反映
      }
    }
  </script>

</head>

<body>
  <div id="kekka"> <!-- 入力フォームエリア -->
    [[${rivalname}]]を待っています。

    <div th:if="${formboolean}">
      <h3>数字を入力してください(数字は重複しないでください)</h3> <!--入力を促す-->
      <form th:action="@{/wait(myid=${myid},rivalid=${rivalid})}" method="post">
        <input type="number" min="0" max="9" name="line1" />
        <input type="number" min="0" max="9" name="line2" />
        <input type="number" min="0" max="9" name="line3" />
        <input type="number" min="0" max="9" name="line4" />
        <input type="submit" value="送信"><input type="reset" value="リセット">
      </form>
    </div>
  </div>

</body>

</html>
